html {
  font-size: 18px;
}
body {
  background-color: black;
  color: white;
  font-family: Helvetica;
  width: 960px;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
header img{
  height: 1.5rem;
  padding: .66rem .5rem;
}
header h3 {
  align-content: center;
  padding: .66rem .5rem;
}
.container{
  display: flex
}
.banner {
  background-image: url("../images/moto.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
}
.banner-message {
  background-color: black;
  position: relative;
  padding: 2rem 3rem;
  width: 20rem;
  margin-top: 9rem;
  font-weight: bold;
}
.banner-message h1 {
  font-size: 2rem;
  padding-top: .25rem;
}
.nav {
  text-align: center;
  background-color: firebrick;
  padding: .75rem 0;
}
.content-banner{
  background-color: white;
}
.image-container {
  background-color: white;

}
.product {
  flex-direction: column;
  display: flex;
  border: 4px solid black;
  width: 30%;
}
.product img {
  background-color: white;
  height: 9rem;
  padding: 2rem 0;
}
.product span {
  background-color: black;
}
.info-item h5 {
  background-color: black;
  color:white;
}
.info-item {
  color: black;
}
