html {
  font-size: 18px;
}
body {
  background-color: black;
  color: white;
  font-family: Helvetica;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
header img{
  height: 1.5rem;
  padding: .66rem .5rem;
}
header h3 {
  align-content: center;
  padding: .66rem .5rem;
}
.container{
  display: flex
}
.banner {
  background-image: url("../images/moto.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
}
.banner-message {
  background-color: black;
  position: relative;
  padding: 2rem 3rem;
  width: 20rem;
  margin-top: 9rem;
  font-weight: bold;

}
.banner-message h1 {
  font-size: 2rem;
  padding-top: .25rem;
}
nav {
  text-align: center;
  background-color: firebrick;
  padding: .75rem 0;
  justify-content: space-around;
}
.product-banner{
  background-color: white;
}
.product {
  display: flex;
  border: 4px solid black;
  width: 30%;
  margin: 3rem auto;
  flex-direction: column;
}
.product img {
  background-color: white;
  height: 9rem;
  margin: 2rem;
}
.product span {
  background-color: black;
  text-align: center;
}
.info-banner{
  background-color: white;
}
.info-item h5 {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}
.info-item {
  color: black;
  display: flex;
  min-width: 35%;
  display: block;
  margin-bottom: 4rem;
}
.info-banner .container {
  justify-content: space-around;
}
footer {
  height: 5rem;
  text-align: left;
  justify-content: space-around;
  align-items: center;
}
